<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger</title>
{{!-- Stylesheets and Javascript files --}}
		<link href="https://fonts.googleapis.com/css?family=Heebo:900" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
{{!-- Fav Icon --}}
		<link rel="icon" href="/assets/img/favicon.ico" sizes="16x16" type="image/png">
	</head>
	<body>
{{!-- Where to write other pages in --}}
		{{{ body }}}
	</body>
</html>