body {
    background: rgb(78, 42, 4);
    font-size: 1.5vw;
    color: rgb(78, 42, 4);
}

.left, .right, .bottom {
    text-align: center;
    display: block;
    width: 23%;
    background-color: palegoldenrod;
    padding: 2vw;
    position: fixed;
    border-radius: 10vw;
}

.left, .right {
    top: 5vw;
}

.left {
    left: 5vw;
}

.right {
    right: 5vw;
}

.bottom {
    left: 33.5%;
    right: 33.5%;
    margin: 0 auto 0 auto;
}

.burger {
    display: block;
    position: relative;
    margin: 3vw auto;
    max-width: 45%;
}

h1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: rgb(78, 42, 4);
    border-radius: 10vw;
    padding: 2vw;
    max-width: 23%;
    background-color: palegoldenrod;
}

h3 {
    font-size: 1vw;
}

button {
    text-align: center;
    padding: 0.25vw;
    margin: 0vw auto;
    height: auto;
    background: rgb(78, 42, 4);
    color: palegoldenrod;
}

.form-group {
    text-align: center;
}

input {
    width: 100%;
    height: 2vw;
}

ul {
    text-align: right;
    padding-right: 3vw;
}