{{!-- Lists burger by name, and if it is undevoured, gives it the EAT ME button which we will target. --}}
<li>
	{{burger_name}}
    
	<button class="change-devoured" data-id="{{id}}" data-neweats="{{devoured}}">
		EAT ME
	</button>
</li>
